@import '../../assets/css/bootstrap-utils';

.brandText {
  font-family: 'Dancing Script', cursive;
}

.navGrid {
  @include media-breakpoint-down(sm) {
    margin: 7px 0px 0 13px;
  }
  @include media-breakpoint-up(md) {
    margin: 0 0 0 auto;
  }
}

.elevate {
  z-index: 1;
}

$offset: 5px;
$count: 40;
$duration: 1;

@keyframes wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY($offset);
  }
}

.wavetext span {
  display: inline-block;
  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $count {
  .wavetext :nth-child(#{$count}n + #{$i}) {
    animation-delay: -#{($count - $i) * 2 * $duration / $count}s;
  }
}

.navLink {
  &:not(:first-child) {
    @include media-breakpoint-up(md) {
      padding-left: 1.5rem !important;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 3rem !important;
    }
  }
}
