@import '../../../assets/css/bootstrap-utils';

.wrapper {
  padding: 70px 0;
  background-color: var(--info);
}

.border {
  @include media-breakpoint-up(md) {
    border-right: 2px dotted var(--secondary);
  }
}
