@import 'custom-theme-bootstrap';

h3 {
  margin-bottom: 1.5rem;
}

.pet-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
