@import 'assets/css/custom-theme-bootstrap';

div[id='root'] {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

hr {
  border-top: 2px dotted theme-color('secondary');
  margin: 0;
}

.home-font {
  font-family: 'Chelsea Market', fantasy;
  color: theme-color('secondary');
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
