.grid {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content auto;
  gap: 20px;

  h1 {
    margin: 0;
  }
}

.svgContainer {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  width: 80px;
}

.Svg {
  $size: 20px;
  height: $size;
  width: $size;
  fill: var(--secondary);
}
